{%- if executable -%}
#!/usr/bin/env python
{%- endif %}
# -*- coding: utf-8 -*-

"""
Module Docstring
"""

__author__  = "Your Name"
__version__ = "0.1.0"
__license__ = "MIT"

{% if argparse -%}
import argparse
{%- endif %}
{% if logging -%}
from logger import setup_logger

logger = setup_logger(logfile=None)
{%- endif %}

{% if argparse -%}
def main(args):
{%- else -%}
def main():
{%- endif %}
    """ Main entry point of the app """
    {% if logging -%}
      {% if argparse -%}
    logger.info("hello world")
    logger.info(args)
      {%- else -%}
    logger.info("hello world")
      {%- endif %}
    {%- else -%}
      {% if argparse -%}
    print "hello world", args
      {%- else -%}
    print "hello world"
      {%- endif %}
    {%- endif %}

if __name__ == "__main__":
    """ This is executed when run from the command line """
    {% if argparse -%}
    parser = argparse.ArgumentParser()

    # Required positional argument
    parser.add_argument("arg", help="Required positional argument")

    # Optional argument flag which defaults to False
    parser.add_argument("-f", "--flag", action="store_true", default=False)

    # Optional argument which requires a parameter (eg. -d test)
    parser.add_argument("-n", "--name", action="store", dest="name")

    # Optional verbosity counter (eg. -v, -vv, -vvv, etc.)
    parser.add_argument("-v", "--verbose", action="count", default=0, help="Verbosity (-v, -vv, etc)")

    # Specify output of "--version"
    parser.add_argument("--version",
                        action="version",
                        version="%(prog)s (version {version})".format(version=__version__))

    args = parser.parse_args()
    main(args)
    {%- else -%}
    main()
    {%- endif %}
